@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .word-spacing-3 {
    word-spacing: 3px;
  }
}
